*.ipch
*.db
*.suo

*.uvoptx
*.o
*.d
*.crf


Project/VS/F429BootRoutine/F429BootRoutine/VisualGDB/Debug/
Project/VS/F429BootRoutine/VisualGDB/Debug
Project/VS/F429BootRoutine/.vs
OBJ/
Listing/
Output/

*uvguix.a9072
*.uvguix.DongXiaohui